<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/css/style.css' />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>UUID Validator</h1>
			<p>Validates a UUID and lets you know the version so long as its 3,4 or 5</p>    

			<form id="validator">
				<div class="form-group">
					<input id="uuid" type="text" placeholder="Enter a UUID" class="form-control">
				</div>
				<button id="go" type="submit" class="btn btn-success">Validate</button>
				<span class="text-info" id="status"></span>
			</form>
		</div>
	</div>
	<div class="container">
		<p><a href="https://github.com/richet/uuid-validator">https://github.com/richet/uuid-validator</a></p>
	</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/validate.js"></script>
</body>
</html>